html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

header {
  height: 10vh;
  width: 100%;
  font-style: italic;
  font-size: 2rem;
}

.portada {
  width: 100%;
  height: 40vh;
  background-image: url(../img/hockey1.jpg);
  background-size: cover;
}

nav {
  display: inline-block;
}

nav a {
  display: inline-block;
  position: relative;
  left: 60rem;
  margin-left: 2rem;
  font-weight: 700;
  color: lightcoral;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: lightcoral;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  width: 100%;
  height: 10vh;
  text-align: center;
  margin: 0;
  padding: 2rem;
}

.imgLogo {
  width: 100%;
}

.about {
  background-image: url(../img/hockey2.jpg);
}

.contact {
  background-image: url(../img/hockey3.jpg);
}

main {
  position: relative;
}

.logo {
  display: inline-block;
  width: 30%;
}

.listas {
  position: absolute;
  top: 8rem;
  display: inline-block;
}

.listas div {
  margin-bottom: 5rem;
}

.listas p {
  margin: 0;
}

.listas h4 {
  margin-bottom: 0;
}

.listas-p {
  margin-top: 10rem;
}
